{% include 'base.html' %}
<br>
<br>
<div class="d-flex justify-content-center align-items-center">
  <h2>Cadastro de Funcionários</h2>
</div>
<br>

<div class="d-flex justify-content-center align-items-center">
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_messages %}
</div>

<form class="row g-3" method="POST">
    {% csrf_token %}
    <div style="width: 40%; margin: 0 auto;">
      {{ form.as_p }}
    <div class="d-flex justify-content-center flex-direction-row" style="gap: 20px;">
        <button type="submit" class="btn btn-success">Cadastrar</button>
        <button type="button" class="btn btn-warning"><a href="{% url 'initial' %}" style="text-decoration:none; color:white;">Cancelar</a></button>
    </div>
  </div>
</form>
