{% include 'base.html' %}


{% block content %}
    <body>
        <div class="d-flex flex-direction-row justify-content-center">
            <div>
              <canvas id="myChart" style="min-width: 120%; height: 180%;"></canvas>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

            <script>
              const ctx = document.getElementById('myChart');

              new Chart(ctx, {
                type: 'bar',
                data: {
                  labels: {{label|safe}},
                  datasets: [{
                    label: 'Teste01',
                    data: {Jan: 10, Fev: 5, Mar: 7, Abr: 2},},
                    {
                    label: 'Teste02',
                    data: {Jan: 20, Fev: 15, Mar: 17, Abr: 23},
                    }],
                options: {
                  scales: {
                    y: {
                      beginAtZero: true
                    }
                  }
                }
                }
              });
            </script>
        </div>

        <div class="d-flex justify-content-center">
            <div class="alert alert-secondary" role="alert" style="width: 90%; margin-top: 4%;">
              <h4 class="d-flex justify-content-center alert-heading" style="color: white;">Ranking Vendas</h4>
              <br>
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Funcionário</th>
                      <th scope="col">Total em vendas</th>
                      <th scope="col">Produto mais vendido</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for f in ranking_pronto_formatado %}
                    <tr>
                      <td>{{f.0|title}}</td>
                      <td>{{f.1}}</td>
                      <td>{{f.2|title}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
            </div>
        </div>
    </body>
{% endblock %}
